// Цвет фона нашего приложения
 $bgColor: #EABE93;
// большой размер шрифта
$bigfontsize: 28px;
// Средний размер шрифта
$mebfontsize: 16px;
// маленький размер шрифта
$smallfontsize: 12px;
// Шрифт Monsserat
$FontMonserrat: "Montserrat";
// Основной цвет текста приложения
$textcolor: #222222;
//Размер текста заголовка
$sectionTitlesize: 24px;
//Шрифт Oleo
$FontOleo: "Oleo Script Swash Caps";
//размер заголовка
$sizetitle: 36px;
//Шрифт Inconsolata
$FontInconsolata: "Inconsolata";